<div ng-controller="EquipmentsCtrl">
  <div class="row hidden-print">
    <div class="col-xs-12">
        <h1 class="page-header">
          Equipamentos
        </h1>
    </div>
  </div>

  <div class="row hidden-print">
    <div class="col-xs-12">
      <% if @all_equipment.length > 0 %>
        <div class="alert alert-info alert-dismissable">
          <i class="fa fa-info-circle"></i>  Clique no nome do Equipamento que deseja alterar
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-success fade in out">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <i class="fa fa-check-circle"></i> <%= flash[:notice] %>
        </div>
      <% end %>

      <% if @all_equipment.length == 0 %>
        <div class="alert alert-warning">
          <i class="fa fa-warning"></i> Você não tem nenhum Equipamento cadastrado
        </div>
      <% end %>

    </div>
  </div>

  <div class="row m-b-20 hidden-print">
    <div class="col-xs-12 text-right">
      <%= link_to new_equipment_path, class: "btn btn-success btn-md" do %>
        <i class="fa fa-plus-square-o"></i> Novo Equipamento
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% if @all_equipment.length > 0 %>
      <div class="table-responsive">
        <table ng-table="ngTableParams" class="table table-bordered  table-hover" show-filter="true">
          <tr ng-repeat="row in $data">
            <td ng-click="go('equipments', row.id)" class="pointer"  data-title="'Descrição'" sortable="'description'" header-class="'bg-black c-white pointer'" data-filter="{description: 'text'}">
              <span class="c-blue f-700">{{row.description}}</span>
            </td>
            <td data-title="'Modelo'" sortable="'model'" header-class="'bg-black c-white pointer'" data-filter="{model: 'text'}">
              {{row.model}}
            </td>
            <td data-title="'Criado em'" sortable="'created_at'" header-class="'bg-black c-white pointer'" data-filter="{created_at: 'text'}">
              {{row.created_at_date_for_json}}
            </td>
          </tr>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>
