<div class="row">
  <div class="col-xs-8 bgm-white p-30 p-t-10">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>


      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: 'e-mail' %>
      </div>

      <%= f.submit "Enviar", class: 'btn btn-success btn-block' %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
