<div ng-controller="CustomersCtrl">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header m-t-8 hidden-print">
        Clientes
      </h1>
      <h4 class="visible-print m-t-8">
        Relatório de Clientes
      </h4>
    </div>
  </div>

  <div class="row hidden-print">
    <div class="col-xs-12">
      <% if @customers.length > 0 %>
        <div class="alert hidden-print alert-info alert-dismissable">
          <i class="fa fa-info-circle"></i>  Clique no nome do Cliente que deseja alterar
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert hidden-print alert-success fade in out">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <i class="fa fa-check-circle"></i> <%= flash[:notice] %>
        </div>
      <% end %>

      <% if @customers.length == 0 %>
        <div class="alert hidden-print alert-warning">
          <i class="fa fa-warning"></i> Você não tem nenhum Cliente cadastrado
        </div>
      <% end %>
    </div>
  </div>

  <div class="row m-b-10 hidden-print">
    <div class="col-sm-1 m-t-15">
      <div class="form-group">
        <button class="btn btn-primary" type="button" ng-click="print();">
          <i class="fa fa-print"></i>
        </button>
      </div>
    </div>

    <div class="col-sm-3 f-11 m-t-25">
      Mostrar Ocultas <br>
      <div class="form-group">
        <input bs-switch ng-model="showHidden"
        type="checkbox" switch-on-text="SIM" switch-size="small"
        switch-off-text="NÃO" switch-change="initializeTable()">
      </div>
    </div>

    <div class="col-sm-2 f-11">
      Data início <br>
      <div class="form-group">
        <input type="text" class="form-control" ng-focus="date.start = null;"
        ui-date-mask ng-model="date.start" required ng-change="initializeTable()">
      </div>
    </div>

    <div class="col-sm-2 f-11">
      Data fim <br>
      <div class="form-group">
        <input type="text" class="form-control" ng-focus="date.end = null;"
        ui-date-mask ng-model="date.end" required ng-change="initializeTable()">
      </div>
    </div>

    <div class="col-sm-4 pull-right m-t-15">
      <%= link_to new_customer_path, class: "btn btn-success btn-md pull-right" do %>
        <i class="fa fa-plus-square-o"></i> Novo Cliente
      <% end %>
    </div>
  </div>

  <div class="row m-b-10 visible-print" ng-if="date.start || date.end">
    <div class="col-sm-12">
      de {{date.start | date}} à {{date.end | date}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% if @customers.length > 0 %>
        <div class="table-responsive">
          <table ng-table="ngTableParams" class="table table-bordered  table-hover" show-filter="true">
            <tr ng-repeat="row in $data">
              <td ng-click="go('customers', row.id)" class="pointer"  data-title="'Nome Completo'" sortable="'first_name'" header-class="'bg-black c-white pointer'" data-filter="{first_name: 'text'}">
                <span class="c-blue f-700">{{row.first_name + ' ' + row.last_name}}</span>
              </td>
              <td data-title="'E-mail'" sortable="'email'" header-class="'bg-black c-white pointer'" data-filter="{email: 'text'}">
                {{row.email}}
              </td>
              <td data-title="'Telefone'" sortable="'phone'" header-class="'bg-black c-white pointer'" data-filter="{phone: 'text'}">
                {{row.phone | tel}}
              </td>
              <td data-title="'Criado em'" sortable="'created_at'" header-class="'bg-black c-white pointer w-35'" data-filter="{created_at: 'text'}">
                {{row.created_at_date_for_json}}
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
