<div ng-controller="OrdersCtrl">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header m-t-8 hidden-print">
        OS
      </h1>
      <h4 class="visible-print m-t-8">
        Relatório de OS
      </h4>
    </div>
  </div>

  <div class="row hidden-print">
    <div class="col-xs-12">
      <% if @orders.length > 0 %>
        <div class="alert hidden-print alert-info alert-dismissable">
          <i class="fa fa-info-circle"></i>  Clique no número da OS que deseja consultar
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert hidden-print alert-success fade in out">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <i class="fa fa-check-circle"></i> <%= flash[:notice] %>
        </div>
      <% end %>

      <% if @orders.length == 0 %>
        <div class="alert hidden-print alert-warning">
          <i class="fa fa-warning"></i> Você não tem nenhuma OS cadastrada
        </div>
      <% end %>

    </div>
  </div>

  <div class="row m-b-10 hidden-print">
    <div class="col-sm-1 m-t-15">
      <div class="form-group">
        <button class="btn btn-primary" type="button" ng-click="print();">
          <i class="fa fa-print"></i>
        </button>
      </div>
    </div>

    <div class="col-sm-3 f-11 m-t-25">
      Mostrar Canceladas <br>
      <div class="form-group">
        <input bs-switch ng-model="showHidden"
        type="checkbox" switch-on-text="SIM" switch-size="small"
        switch-off-text="NÃO" switch-change="initializeTable()">
      </div>
    </div>

    <div class="col-sm-2 f-11">
      Data início <br>
      <div class="form-group">
        <input type="text" class="form-control" ng-focus="date.start = null;"
        ui-date-mask ng-model="date.start" required ng-change="initializeTable()">
      </div>
    </div>

    <div class="col-sm-2 f-11">
      Data fim <br>
      <div class="form-group">
        <input type="text" class="form-control" ng-focus="date.end = null;"
        ui-date-mask ng-model="date.end" required ng-change="initializeTable()">
      </div>
    </div>

    <div class="col-sm-4 pull-right m-t-15">
      <%= link_to new_order_path, class: "btn btn-success btn-md pull-right" do %>
        <i class="fa fa-plus-square-o"></i> Nova OS
      <% end %>
    </div>
  </div>

  <div class="row m-b-10 visible-print" ng-if="date.start || date.end">
    <div class="col-sm-12">
      de {{date.start | date}} à {{date.end | date}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% if @orders.length > 0 %>
        <div class="table-responsive">
          <table ng-table="ngTableParams" class="table table-bordered  table-hover" show-filter="true">
            <tr ng-repeat="row in $data">
              <td ng-click="go('orders', row.id)" class="pointer" data-title="'Número'" sortable="'id'" header-class="'bg-black c-white pointer w-15'" data-filter="{id: 'text'}">
                <span class="c-blue f-700">{{row.id}}</span>
              </td>
              <td data-title="'Cliente'" sortable="'customer'" header-class="'bg-black c-white pointer'" data-filter="{customer: 'text'}">
                {{row.customer}}
              </td>
              <td data-title="'Equipamento'" sortable="'equipment'" header-class="'bg-black c-white pointer'" data-filter="{equipment: 'text'}">
                {{row.equipment}}
              </td>
              <td data-title="'Status'" sortable="'status_for_json'" header-class="'bg-black c-white pointer'" data-filter="{status_for_json: 'select'}" filter-data="filterOptions">
                {{row.status_for_json}}
              </td>
              <td data-title="'R$'" sortable="'value'" header-class="'bg-black c-white pointer w-35'">
                {{row.value || '-'}}
              </td>
              <td data-title="'Aberta em'" sortable="'created_at'" header-class="'bg-black c-white pointer w-35'" data-filter="{created_at: 'text'}">
                {{row.created_at_date_for_json}}
              </td>
            </tr>
          </table>
        </div>
        <div class="pull-right f-700 visible-print">
          Faturamento: {{total | currency: 'R$ '}}
        </div>
      <% end %>
    </div>
  </div>
</div>
