<div ng-controller="OrdersCtrl">
  <div class="row hidden-print">
    <div class="col-xs-12">
        <h1 class="page-header">
          Ordens de Serviço
        </h1>
    </div>
  </div>

  <div class="row hidden-print">
    <div class="col-xs-12">
      <% if @orders.length > 0 %>
        <div class="alert alert-info alert-dismissable">
          <i class="fa fa-info-circle"></i>  Clique no número da OS que deseja consultar
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-success fade in out">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <i class="fa fa-check-circle"></i> <%= flash[:notice] %>
        </div>
      <% end %>

      <% if @orders.length == 0 %>
        <div class="alert alert-warning">
          <i class="fa fa-warning"></i> Você não tem nenhuma OS cadastrada
        </div>
      <% end %>

    </div>
  </div>

  <div class="row m-b-20 hidden-print">
    <div class="col-xs-12 text-right">
      <%= link_to new_order_path, class: "btn btn-success btn-md" do %>
        <i class="fa fa-plus-square-o"></i> Nova OS
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% if @orders.length > 0 %>
        <div class="table-responsive">
          <table ng-table="ngTableParams" class="table table-bordered  table-hover" show-filter="true">
            <tr ng-repeat="row in $data">
              <td ng-click="go('orders', row.id)" class="pointer"  data-title="'Número'" sortable="'id'" header-class="'bg-black c-white pointer'" data-filter="{id: 'number'}">
                <span class="c-blue f-700">{{row.id}}</span>
              </td>
              <td data-title="'Cliente'" sortable="'customer'" header-class="'bg-black c-white pointer'" data-filter="{customer: 'text'}">
                {{row.customer}}
              </td>
              <td data-title="'Status'" sortable="'status_for_json'" header-class="'bg-black c-white pointer'" data-filter="{status_for_json: 'text'}">
                {{row.status_for_json}}
              </td>
              <td data-title="'Aberta em'" sortable="'created_at'" header-class="'bg-black c-white pointer'" data-filter="{created_at: 'text'}">
                {{row.created_at_date_for_json}}
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
