/* generic classes */

$black: #222;
$orange: orange;
$blue: #31708f;
$green: #5cb85c;
$red: #a94442;

.pointer{
  cursor: pointer;
}

.m-20{
  margin: 20px !important;
}

.m-t-0{
  margin-top: 0px;
}

.m-t-5{
  margin-top: 5px;
}

.p-l-10{
  padding-left: 10px !important;
}

.p-r-10{
  padding-right: 10px !important;
}

.m-b-20{
  margin-bottom: 20px !important;
}

.m-t-15{
  margin-top: 15px !important;
}

.text-center{
  text-align: center !important;
}

.text-left{
  text-align: left !important;
}

.text-right{
  text-align: right !important;
}

.c-white{
  color: white;
}

.c-red{
  color: $red;
}

.c-green{
  color: $green;
}

.f-700{
  font-weight: 700;
}

.bg-black{
  background-color: $black;
}

#page-wrapper{
  min-height: calc(100vh - 50px);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $orange;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $orange;
  outline: 0 none;
}

.ng-table-pager{
  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>.active>span,
  .pagination>.active>span:focus,
  .pagination>.active>span:hover{
    background-color: $orange;
    border-color: $orange;
    color: white;
  }
  .pagination>li>a,
  .pagination>li>span{
    color: $black;
  }
  text-align: center;
}

table tbody tr td{
  a{
    font-weight: 700;
    font-size: 15px;
    &:hover{
      text-decoration: none;
    }
  }
}
