/* generic classes */

$black: #222;
$orange: orange;
$blue: #31708f;
$green: #5cb85c;
$red: #a94442;

.sessions{
  background: image-url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.navbar-inverse{
  margin-bottom: 0px !important;
  background-color: transparent !important;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, rgba(240, 240, 240, 0.3), rgba(255, 255, 255, 0.3)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(240, 240, 240, 0.3), rgba(255, 255, 255, 0.3)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(240, 240, 240, 0.3), rgba(255, 255, 255, 0.3)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(bottom, rgba(240, 240, 240, 0.3), rgba(255, 255, 255, 0.3)); /* Standard syntax */
  border-color: $orange !important;
}

.bgm-white{
  background-color: white;
}

.navbar-collapse{
  margin-top: 0px;
}

.relative{
  position: relative;
}

.w-100{
  width: 100%;
}
.navbar-nav{
  margin-top: 0px !important;
}

.side-nav{
  max-resolution: 0px;
  background-color: $black;
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    background-color: black;
    text-decoration: none !important;
  }
}

.navbar-toggle{
  background-color: $black !important;
}

body{
  margin-top: 50px !important;
  background-color: transparent !important;
}

.pointer{
  cursor: pointer;
}

.w-15{
  width: 15px !important;
}

.w-35{
  width: 35px !important;
}

.m-t-8{
  margin-top: 8px !important;
}

.m-r-15{
  margin-right: 15px;
}

.m-l-15{
  margin-left: 15px !important;
}

.m-20{
  margin: 20px !important;
}

.m-t-0{
  margin-top: 0px;
}

.m-t-5{
  margin-top: 5px;
}

.m-t-25{
  margin-top: 2.5px;
}

.p-30{
  padding: 30px !important;
}

.p-l-10{
  padding-left: 10px !important;
}

.p-r-10{
  padding-right: 10px !important;
}

.m-b-20{
  margin-bottom: 20px !important;
}

.m-b-15{
  margin-bottom: 15px !important;
}

.m-b-10{
  margin-bottom: 10px !important;
}

.m-t-15{
  margin-top: 15px !important;
}

.text-center{
  text-align: center !important;
}

.text-left{
  text-align: left !important;
}

.text-right{
  text-align: right !important;
}

.c-white{
  color: white;
}

.c-red{
  color: $red;
}

.c-green{
  color: $green;
}

.f-700{
  font-weight: 700;
}

.bg-black{
  background-color: $black;
}

.f-11{
  font-size: 11px !important;
}

#page-wrapper{
  min-height: calc(100vh - 50px);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $orange;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $orange !important;
  outline: 0 none !important;
}

textarea:focus{
  border: 1px solid $orange;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $orange !important;
  outline: 0 none !important;
}

.ng-table-pager{
  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>.active>span,
  .pagination>.active>span:focus,
  .pagination>.active>span:hover{
    background-color: $orange;
    border-color: $orange;
    color: white;
  }
  .pagination>li>a,
  .pagination>li>span{
    color: $black;
  }
  text-align: center;
}

.sweet-alert{
  border-radius: 0px !important;
  button{
    font-size: 15px !important;
  }
}

.btn-default.active{
  background-color: $orange !important;
  border-color: $orange;
  color: white !important;
}

@media print {
  .ng-table-pager {
    display: none !important;
  }
}

table tbody tr td{
  a{
    font-weight: 700;
    font-size: 15px;
    &:hover{
      text-decoration: none;
    }
  }
}
