/* generic classes */

$black: #222;
$orange: orange;
$blue: #31708f;

.pointer{
  cursor: pointer;
}

.m-20{
  margin: 20px !important;
}

.m-b-20{
  margin-bottom: 20px !important;
}

.text-center{
  text-align: center !important;
}

.text-left{
  text-align: left !important;
}

.text-right{
  text-align: right !important;
}

.c-white{
  color: white;
}

.c-blue{
  color: $blue;
}

.f-700{
  font-weight: 700;
}

.bg-black{
  background-color: $black;
}

#page-wrapper{
  min-height: calc(100vh - 50px);
}

.ng-table-pager{
  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>.active>span,
  .pagination>.active>span:focus,
  .pagination>.active>span:hover{
    background-color: $orange;
    border-color: $orange;
    color: white;
  }
  .pagination>li>a,
  .pagination>li>span{
    color: $orange;
  }
  text-align: center;
}

table tbody tr td{
  a{
    font-weight: 700;
    font-size: 15px;
    &:hover{
      text-decoration: none;
    }
  }
}
