<div ng-controller="BrandsCtrl">
  <div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
          Marcas
        </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% if @brands.length > 0 %>
        <div class="alert alert-info alert-dismissable">
          <i class="fa fa-info-circle"></i>  Clique no nome da Marca que deseja alterar
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-success fade in out">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <i class="fa fa-check-circle"></i> <%= flash[:notice] %>
        </div>
      <% end %>

      <% if @brands.length == 0 %>
        <div class="alert alert-warning">
          <i class="fa fa-warning"></i> Você não tem nenhuma Marca cadastrada
        </div>
      <% end %>

    </div>
  </div>

  <div class="row m-b-20">
    <div class="col-xs-12 text-right">
      <%= link_to new_brand_path, class: "btn btn-success btn-md" do %>
        <i class="fa fa-plus-square-o"></i> Nova Marca
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% if @brands.length > 0 %>
        <div class="table-responsive">
        	<!-- <table class="table table-hover">
            <thead class="c-white bg-orange">
              <tr>
                <th class="col-md-11">Nome</th>
                <th class="col-md-1 text-center">Excluir</th>
              </tr>
            </thead>
            <tbody>
              	<% @brands.each do |brand| %>
                  <tr>
                    <td class="col-md-11">
                      <%= link_to brand.name, edit_brand_path(brand.id) %>
                    </td>
                    <td class="col-md-1 text-center">
                      <button ng-click="delete(<%= brand.id %>, 'brands')" class="btn btn-danger">
                        <i class="fa fa-fw fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                <% end %>
            </tbody>
        	</table> -->
          <table ng-table="ngTableParams"
          class="table table-hover"
          show-filter="true">
            <tr ng-repeat="row in $data">
              <td data-title="'Nome'" data-filter="{name: 'text'}">
                <a href="/brands/{{row.id}}/edit/">{{row.name}}</a>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
