<div class="row">
  <div class="col-xs-12">
      <h1 class="page-header">
        Marcas
      </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info alert-dismissable">
      <i class="fa fa-info-circle"></i>  Clique no nome da Marca que deseja alterar
    </div>
  </div>
</div>

<div class="row m-b-20">
  <div class="col-xs-12 text-right">
    <%= link_to new_brand_path, class: "btn btn-success" do %>
      <i class="fa fa-plus-square-o"></i> Nova Marca
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
    	<table class="table table-bordered table-hover table-inverse">
        <thead class="c-white bg-orange">
          <tr>
            <th class="col-md-11">Nome</th>
            <th class="col-md-1 text-center">Excluir</th>
          </tr>
        </thead>
        <tbody>
        	<% @brands.each do |brand| %>
          <%= link_to new_or_edit_brands_path(brand) do %>
            <tr>
              <td class="col-md-11"><%= brand.name %></td>
              <td class="col-md-1 text-center">
              	<button class="btn btn-danger">
              		<i class="fa fa-fw fa-trash"></i>
            		</button>
          		</td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
    	</table>
    </div>
  </div>
</div>