<div ng-controller="BrandsCtrl">
  <div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
          Marcas
        </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% if @brands.length > 0 %>
        <div class="alert alert-info alert-dismissable">
          <i class="fa fa-info-circle"></i>  Clique no nome da Marca que deseja alterar
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-success fade in out">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <i class="fa fa-check-circle"></i> <%= flash[:notice] %>
        </div>
      <% end %>

      <% if @brands.length == 0 %>
        <div class="alert alert-warning">
          <i class="fa fa-warning"></i> Você não tem nenhuma Marca cadastrada
        </div>
      <% end %>

    </div>
  </div>

  <div class="row m-b-20">
    <div class="col-xs-12 text-right">
      <%= link_to new_brand_path, class: "btn btn-success btn-md" do %>
        <i class="fa fa-plus-square-o"></i> Nova Marca
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% if @brands.length > 0 %>
        <div class="table-responsive">
          <table ng-table="ngTableParams" class="table table-bordered table-striped table-hover" show-filter="true">
            <tr ng-repeat="row in $data">
              <td ng-click="go('brands', row.id)" class="pointer" data-title="'Nome'" sortable="'name'" header-class="'bg-black c-white pointer'" data-filter="{name: 'text'}">
                <span class="c-blue f-700">{{row.name}}</span>
              </td>
              <td data-title="'Criado em'" sortable="'created_at'" header-class="'bg-black c-white pointer'" data-filter="{created_at: 'text'}">
                {{row.created_at_date_for_json}}
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
